.portfolio {
    background-image: url("../images/snow.jpg");
    background-size: cover;
    background-position: center;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Begin Header Styling */
header {
    padding: 20px 35px;
    background-color: lightskyblue;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
}

header nav li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
}

header nav li a:hover {
    background: rgba(255, 255, 255, 75%);
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


/* End Header Styling */

/* Begin Hero Styling */

.hero {
    background-color: rgba(255, 255, 255, 75%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
}

.headshot {
    margin: 20px;
}

.headshot img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    border: 8px solid lightskyblue;
}

.get-to-know {
    width: 40%;
    text-align: center;
    text-shadow: 0 0 5px rgba(135, 206, 235, .7);
    line-height: 1.3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.get-to-know h2 {
    font-size: 42px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border-bottom: 2px solid skyblue;
    padding-bottom: 10px;
}

.get-to-know p {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* End Hero Styling */

/* Begin About Me Styling */

.about {
    background: rgba(135, 206, 235, .7);
    border: 3px solid rgba(0, 0, 0, .60);
    border-radius: 10px;
    padding: 15px;
    margin: 25px 0;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 1.0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about h2 {
    font-size: 28px;
    border-bottom: 2px solid rgba(0, 0, 0, .60);
    padding: 4px;
}

.about p {
    margin-top: 10px;
    line-height: 1.5;
}

/* End About Me Styling */

/* Begin Work Styling */
.work-container {
    max-width: 980px;
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

.application {
    border: 2px solid rgba(255, 255, 255, 1.0);
    color: black;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.title {
    grid-column: 1/2;
    grid-row: 1/-1;
    border: none;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 26px;
}
.run-buddy {
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url(/assets/images/run-buddy.png);
    background-size: cover;
}

.devils-tower {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(/assets/images/devils-tower.jpeg);
    background-size: cover;
}

.lilly {
    background-image: url(/assets/images/lilly.jpeg);
    background-size: cover;
}

.leia {
    background-image: url(/assets/images/leia.jpeg);
    background-size: cover;
}

.teton {
    background-image: url(/assets/images/teton.jpeg);
    background-size: cover;
}

.application h3 {
    background: rgba(255, 255, 255, 35%);
    padding: 4px;
    border-radius: 5px;
}




/* End Work Styling */

/* Begin Contat Styling */

.contact {
    width: 60%;
    padding: 20px 35px;
    margin: 25px auto;
    background-color: rgba(135, 206, 235, .7);
    border: 5px solid rgba(0, 0, 0, .60);
    border-radius: 50%;
    
}

.contact h2 {
    font-weight: bold;
    font-size: 36px;
    margin: 50px 0 20px 0;
    padding: 0 0 5px 0 ;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact h4 {
    padding: 8px 0;
    margin: auto;
    text-align: center;
}
.contact h4 a {
    padding: 5px 0;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

.contact h4 a:hover {
    background: rgba(255, 255, 255, 75%);
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}

.contact ul {
    list-style: none;
}

/* End Contact Styling */

/* Begin Footer Styling */
footer {
    background: skyblue;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    bottom: 0;
}

footer h4 {
    font-size: 16px;
    margin: 0;
    padding: 5px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .60);
    width: 75%;
    color: rgba(255, 255, 255, 1.0);
    border-radius: 15px;
    font-weight: lighter;
}
/* End Footer Styling */